# Signature Table

### library load

In [1]:
library(readxl)
library(dplyr)

Warning message:
"package 'readxl' was built under R version 3.6.1"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

### Data load

### Data Scan

In [5]:
# 3월 8월 soldtoparty numeric to char

head(order1501,0)
str(order1501)
sum(is.na(order1501$CancelCode))

     OrderDate SapID OrderNo SoldToParty FdealerName ItemType ItemNo ItemName
     MarketPriceAmt RDC CancelCode DealerPriceAmt C53Amt DeliveryStatus
     OrderStatus Code OrderQty

Classes 'tbl_df', 'tbl' and 'data.frame':	266298 obs. of  17 variables:
 $ OrderDate     : POSIXct, format: "2015-01-05" "2015-01-05" ...
 $ SapID         : chr  "15698" "15698" "15698" "15698" ...
 $ OrderNo       : chr  "ORDERW_00075421-K" "ORDERW_00075421-K" "ORDERW_00075421-K" "ORDERW_00075421-K" ...
 $ SoldToParty   : chr  "1001822" "1001822" "1001822" "1001822" ...
 $ FdealerName   : chr  "李<U+4F1A><U+8273>" "李<U+4F1A><U+8273>" "李<U+4F1A><U+8273>" "李<U+4F1A><U+8273>" ...
 $ ItemType      : chr  "TAN" "TAN" "TAN" "TAN" ...
 $ ItemNo        : chr  "AGE00021" "AGE00038" "CNM00007" "ZPM10129" ...
 $ ItemName      : chr  "珂露曼按摩霜" "珂露曼臻美防<U+76B1>系列（<U+6DA6><U+80A4>水+乳液<U+4E24>件套）" "美特<U+4E3D><U+4E1D><U+78B3><U+7EA4><U+7EF4>褥<U+57AB>1519" "<U+6E7F><U+7EB8>巾" ...
 $ MarketPriceAmt: num  4000 3200 12840 104 260 ...
 $ RDC           : chr  "6004" "6004" "6004" "6004" ...
 $ CancelCode    : chr  "04" "04" "04" "04" ...
 $ DealerPriceAmt: num  1000 800 4879 104 65 ...
 $ C53Amt        : num  2120 1696 6805 104 138 ...
 $ DeliveryStatus: chr  "A" "A" "A" "A" ...
 $ OrderStatus   : chr  "C" "C" "C" "C" ...
 $ Code          : chr  "10" "20" "30" "40" ...
 $ OrderQty      : num  20 5 3 4 2 2 4 1 200 6 ...

[1] 262657

### Order Data Cleaning

In [6]:
order1501_ <- order1501  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month =1)

order1502_ <- order1502  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month=2)

order1503_ <- order1503  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month =3)

order1504_ <- order1504  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month =4)

order1505_ <- order1505  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month =5)

order1506_ <- order1506  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month =6)

order1507_ <- order1507  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month =7)

order1508_ <- order1508  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month =8)

order1509_ <- order1509  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month =9)

order1510_ <- order1510  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month =10)

order1511_ <- order1511  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month =11)

order1512_ <- order1512  %>% 
filter(CancelCode !="04" , ItemType == "TAN")  %>% 
select(SoldToParty, DealerPriceAmt, OrderQty, MarketPriceAmt) %>%
group_by(SoldToParty) %>% 
summarize(mean_price=mean(DealerPriceAmt), mean_qty=mean(OrderQty), sum_price_market = sum(MarketPriceAmt), month =12)

### Merge with fdealer data

In [7]:
names(fdealer1501)[1] <- c("SoldToParty")
names(fdealer1502)[1] <- c("SoldToParty")
names(fdealer1503)[1] <- c("SoldToParty")
names(fdealer1504)[1] <- c("SoldToParty")
names(fdealer1505)[1] <- c("SoldToParty")
names(fdealer1506)[1] <- c("SoldToParty")
names(fdealer1507)[1] <- c("SoldToParty")
names(fdealer1508)[1] <- c("SoldToParty")
names(fdealer1509)[1] <- c("SoldToParty")
names(fdealer1510)[1] <- c("SoldToParty")
names(fdealer1511)[1] <- c("SoldToParty")
names(fdealer1512)[1] <- c("SoldToParty")

t_order1501 <- merge(order1501_, fdealer1501 , by='SoldToParty', all=FALSE)
t_order1502 <- merge(order1502_, fdealer1502 , by='SoldToParty', all=FALSE)
t_order1503 <- merge(order1503_, fdealer1503 , by='SoldToParty', all=FALSE)
t_order1504 <- merge(order1504_, fdealer1504 , by='SoldToParty', all=FALSE)
t_order1505 <- merge(order1505_, fdealer1505 , by='SoldToParty', all=FALSE)
t_order1506 <- merge(order1506_, fdealer1506 , by='SoldToParty', all=FALSE)
t_order1507 <- merge(order1507_, fdealer1507 , by='SoldToParty', all=FALSE)
t_order1508 <- merge(order1508_, fdealer1508 , by='SoldToParty', all=FALSE)
t_order1509 <- merge(order1509_, fdealer1509 , by='SoldToParty', all=FALSE)
t_order1510 <- merge(order1510_, fdealer1510 , by='SoldToParty', all=FALSE)
t_order1511 <- merge(order1511_, fdealer1511 , by='SoldToParty', all=FALSE)
t_order1512 <- merge(order1512_, fdealer1512 , by='SoldToParty', all=FALSE)

t_order1501 <- t_order1501[,c(1,2,3,4,5,13)]
t_order1502 <- t_order1502[,c(1,2,3,4,5,13)]
t_order1503 <- t_order1503[,c(1,2,3,4,5,13)]
t_order1504 <- t_order1504[,c(1,2,3,4,5,13)]
t_order1505 <- t_order1505[,c(1,2,3,4,5,13)]
t_order1506 <- t_order1506[,c(1,2,3,4,5,13)]
t_order1507 <- t_order1507[,c(1,2,3,4,5,13)]
t_order1508 <- t_order1508[,c(1,2,3,4,5,13)]
t_order1509 <- t_order1509[,c(1,2,3,4,5,13)]
t_order1510 <- t_order1510[,c(1,2,3,4,5,13)]
t_order1511 <- t_order1511[,c(1,2,3,4,5,13)]
t_order1512 <- t_order1512[,c(1,2,3,4,5,13)]

### Merge with new2018 data

In [16]:
new2018 <- readxl::read_xlsx("C:/Users/juj11/Desktop/실습문제 데이터셋/new2018.xlsx", col_names= TRUE)

str(new2018)

Classes 'tbl_df', 'tbl' and 'data.frame':	29841 obs. of  3 variables:
 $ 대리점코드: num  1e+06 1e+06 1e+06 1e+06 1e+06 ...
 $ 입사일자  : chr  "39973" "41974" "40001" "NULL" ...
 $ 퇴사일자  : chr  "42156" "42614" "42826" "42005" ...

In [19]:
if new2018$입사일자 == NA :
new2018$입사일자 = mean(new2018$입사일자, na.rm = TRUE)

new2018$근속월수 <- as.numeric(new2018$퇴사일자) - as.numeric(new2018$입사일자)

str(new2018)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:4: 예상하지 못한 기호(symbol)입니다.
1: if new2018
       ^

In [10]:
head(new2018)
names(new2018)[1] <- c("SoldToParty")
head(new2018)

  대리점코드 입사일자 퇴사일자 근속월수
1 1000001    39973    42156    NA days
2 1000002    41974    42614    NA days
3 1000003    40001    42826    NA days
4 1000004    NULL     42005    NA days
5 1000005    41365    NULL     NA days
6 1000006    NULL     42005    NA days

  SoldToParty 입사일자 퇴사일자 근속월수
1 1000001     39973    42156    NA days
2 1000002     41974    42614    NA days
3 1000003     40001    42826    NA days
4 1000004     NULL     42005    NA days
5 1000005     41365    NULL     NA days
6 1000006     NULL     42005    NA days

In [11]:
order_15_total <- rbind(t_order1501,t_order1502,t_order1503,t_order1504,t_order1505,t_order1506,t_order1507,t_order1508,
                       t_order1509,t_order1510,t_order1511,t_order1512)

str(order_15_total)

t_order_total <- merge(order_15_total, new2018 , by='SoldToParty', all=FALSE)

'data.frame':	1236 obs. of  6 variables:
 $ SoldToParty     : chr  "1000038" "1000039" "1000126" "1000136" ...
 $ mean_price      : num  50 300 150 125 33.3 ...
 $ mean_qty        : num  1 6 3 5 1.33 ...
 $ sum_price_market: num  200 1200 600 500 400 ...
 $ month           : num  1 1 1 1 1 1 1 1 1 1 ...
 $ FzCode          : chr  "1008505" "1008505" "1008505" "1008357" ...

In [14]:
t_order_total[order(t_order_total$SoldToParty,t_order_total$month), ]

     SoldToParty mean_price mean_qty  sum_price_market month FzCode  입사일자
1    1000032     985.80000   3.000000  1860            3     1008458 40057
2    1000038      50.00000   1.000000   200            1     1008505 40575
4    1000039     300.00000   6.000000  1200            1     1008505 40544
3    1000039     140.00000   2.000000   560            3     1008505 40544
5    1000069      70.00000   1.000000   280            3     1008505 39203
6    1000070     190.80000   3.000000   720            4     1008492 41214
7    1000072     186.25000   1.750000  2980            3     1008295 41153
8    1000080     504.76190   3.761905 20000            5     1008458 39173
9    1000089     100.00000   5.000000   400            4     1008434 41365
10   1000105      84.80000   2.000000   160            4     1008434 41153
11   1000117     466.40000  11.000000   880            3     1008512 40431
12   1000124     140.00000   2.000000   560            3     1008505 38718
13   1000124      60.00000   3.000000   240            4     1008505 38718
14   1000126     150.00000   3.000000   600            1     1008505 38991
15   1000126      70.00000   1.000000   280            3     1008505 38991
16   1000136     125.00000   5.000000   500            1     1008357 42705
17   1000153      33.33333   1.333333   400            1     1008458 38060
18   1000161     660.73333   5.466667 18700            1     1008512 41760
19   1000199      80.00000   4.000000   320            4     1008505 41791
20   1000200     100.00000   2.000000   400            1     1008505 39142
22   1000200     139.16667   1.000000  1670            3     1008505 39142
21   1000200     107.50000   1.000000   430            4     1008505 39142
23   1000208     106.00000   1.000000   200            1     1008539 40121
25   1000211     200.00000   4.000000   800            1     1008539 39087
24   1000211     490.00000   7.000000  1960            3     1008539 39087
26   1000254     350.00000   5.000000  1400            3     1008505 40544
27   1000270     210.00000   3.000000   840            3     1008328 41456
28   1000275     243.80000   2.000000   460            3     1008472 39539
29   1000289     678.40000  16.000000  1280            4     1008434 40124
30   1000290     354.34286   2.642857 18720            1     1008347 39600
...  ...         ...        ...       ...              ...   ...     ...
1204 1014706      200.0000  10.000000    800            4    1008434 42705
1205 1014780      150.0000   5.000000    600            4    1008458 42095
1206 1014811      726.1000   7.000000   2740            4    1008472 42095
1207 1014851      645.6286   8.285714  15020            4    1008357 42095
1208 1014859      432.6314   3.877551  39998            8    1008505 42095
1209 1015026      700.0000  10.000000   2800            5    1008403 42125
1210 1015027      280.0000   4.000000   2240            5    1008403 42125
1211 1015036      653.3333   9.333333   7840            5    1008403 42125
1212 1015071      700.0000  10.000000   2800            5    1008403 42125
1213 1015084      698.7500   9.000000   5590            5    1008403 42125
1214 1015163      237.4375   3.750000   7598            5    1008357 42125
1215 1015292      584.9375   4.187500  30000           12    1008385 42125
1216 1015307      592.8200   4.100000  20000           12    1008365 42125
1217 1015546      307.5436   2.538462  40000           12    1008357 42156
1218 1016213     1177.7778   8.666667  20000           12    1008512 42186
1219 1016502      875.0000   5.000000   3500           12    1008295 43009
1220 1016676     2876.1333   6.500000  32560            8    1008434 42217
1221 1016695     2500.0000  75.000000  20000            8    1008365 42217
1222 1016697     2505.6000   1.666667  20000            8    1008365 42217
1223 1017068      586.9091   3.363636  20130           12    1008357 42248
1224 1017454     3765.5500   3.000000  40000           12    1008365 42278
1225 1017643     5023.7640   5.000000  47394           12    1008347 42309
1226 1017885       55.0000   1.000000    220           12    1008365 43101
1227 1017979      481.6667   6.666667   5000           12    1008295 42309
1228 1018342     2862.0000   1.000000   5400           12    1008539 42339
1229 1018359     1800.0000  15.000000   7200           12    1008492 42491
1230 1018362     3981.2500  35.000000  31850           12    1008492 43101
1231 1018436      841.9952   5.500000 120000           12    1008365 42339
1232 1018489      245.0000   1.000000    980           12    1008365 42339
1233 1018692      540.6000   3.000000   1020           12    1008539 42339
     퇴사일자 근속월수
1    NULL     NA days
2    NULL     NA days
4    NULL     NA days
3    NULL     NA days
5    NULL     NA days
6    NULL     NA days
7    42675    NA days
8    NULL     NA days
9    NULL     NA days
10   NULL     NA days
11   NULL     NA days
12   NULL     NA days
13   NULL     NA days
14   NULL     NA days
15   NULL     NA days
16   NULL     NA days
17   NULL     NA days
18   43160    NA days
19   NULL     NA days
20   NULL     NA days
22   NULL     NA days
21   NULL     NA days
23   NULL     NA days
25   42430    NA days
24   42430    NA days
26   NULL     NA days
27   42401    NA days
28   NULL     NA days
29   42156    NA days
30   NULL     NA days
...  ...      ...
1204 42917    NA days
1205 43025    NA days
1206 43025    NA days
1207 NULL     NA days
1208 42401    NA days
1209 42522    NA days
1210 NULL     NA days
1211 42522    NA days
1212 42675    NA days
1213 NULL     NA days
1214 NULL     NA days
1215 NULL     NA days
1216 NULL     NA days
1217 NULL     NA days
1218 NULL     NA days
1219 NULL     NA days
1220 NULL     NA days
1221 NULL     NA days
1222 NULL     NA days
1223 42583    NA days
1224 42491    NA days
1225 42614    NA days
1226 NULL     NA days
1227 42461    NA days
1228 NULL     NA days
1229 42856    NA days
1230 NULL     NA days
1231 NULL     NA days
1232 42614    NA days
1233 42461    NA days